.titulo{
    margin-top: 200px;
}

.texto-1{
    margin-left: 800px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    text-shadow:  
    -2px -2px 0 white,  
     2px -2px 0 white,  
    -2px  2px 0 white,  
     2px  2px 0 white;
}

.texto-2{
    margin-left: 950px;
    margin-top: -40px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    text-shadow:  
    -2px -2px 0 white,  
     2px -2px 0 white,  
    -2px  2px 0 white,  
     2px  2px 0 white;

}

.input{
    margin-left: 600px;
}

.input input {
    width: 700px; 
    height: 100x; 
    font-size: 1.2em; 
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 10px; 
    border-radius: 30px; 
    border: 2px solid black;
    caret-color: transparent; 
}

.botao{
    margin-left: 47%;
    margin-top: 20px;
}

::ng-deep .botao button {
    background-color: black !important; 
    color: white !important; 
    font-size: 1.2em; 
    padding: 10px 20px; 
    border-radius: 32px; 
    border: solid black; 
    cursor: pointer; 
}

::ng-deep .botao button:hover {
    background-color: black !important;
}
